
    * { margin: 0; padding: 0; box-sizing: border-box; }
    body {
      font-family: 'Poppins', sans-serif;
      background: #bcbcbc;
      color: #000000;
      line-height: 1.6;
    }
.header::before {
  background-image: rgba(0, 0, 0, 0.25);
}

    header{
      display: flex;
      background-color: #0508d0;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;
      position: fixed;
      top: 0;
      z-index: 1000;
      width: 100%;
      height: 60px;
    }
    .logo img{
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }

     .arise{
      background-image: url(my\ image/1image.png);
      color: #000000;
      padding: 80px 20px;
      margin-bottom: 15px;
      text-align: center;
      width: 100%;
      height: 300px;
      
    }

    .sect img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 5px solid #fff;
      margin-bottom: 20px;
    }
    .arise h1 { font-size: 2.5rem; }
    .arise  p { font-size: 1.1rem; opacity: 0.9; }

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: sticky;
      top: 0;
      z-index: 100;
      
    }

    .nav-links {
      display: flex;
      gap: 30px;
      color: #000;
    }

    .hamburger {
      display: none;
      flex-direction: column;
      cursor: pointer;
      z-index: 1001;
      gap: 6px;
      width: 30px;
    }

    .hamburger span {
      height: 1px;
      width: 10px;
      background: #ffffff;
      margin-right: 300px;
      transition: all 0.4s ease;
      border-radius: 5px;
    }
    .hamburger.active span:nth-child(1) {
      transform: rotate(45deg) translate(6px, 6px);
    }
    .hamburger.active span:nth-child(2) {
      opacity: 0;
    }
        .hamburger.active span:nth-child(3) {
      transform: rotate(-45deg) translate(6px, -6px);
    }

    @media (max-width: 768px) {
      .hamburger {
        display: flex;
      }
      .nav-links {
        position: fixed;
        top: 0px;
        right: -100%;
        width: 250px;
        height: 100vh;
        background:  #0508d0;
        flex-direction: column;
        align-items: start;
        gap: 20px;
        padding: 12px 0;
        display: flex;
        transition: right 0.4s ease;
      }
      .nav-links.active {
        right: 0;
      }
    }

    /* Animation base */
    .reveal {
      opacity: 0;
      transform: translateY(40px);
      transition: all 0.8s ease;
    }
    .reveal.active {
      opacity: 1;
      transform: translateY(0);
    }

    /* Hover animations */
    .skill:hover, .project:hover {
      transform: translateY(-8px) scale(1.02);
      transition: 0.4s ease;
    }

    /* Mobile nav */
    @media (max-width: 768px) {
      nav {
        flex-direction: column;
        gap: 15px;
      }
    }
    nav a {
      text-decoration: none;
      color: #ffffff;
      font-weight: 600;
      padding: 10px;
      border-radius: 10px;
      transition: 0.5s;
    }
    nav a:hover { 
      color: #000000;
      padding: 10px;
      border-radius: 6px;
      transform: scale(0.9);
     }

    section {
      padding: 60px 20px;
      max-width: 1100px;
      margin: auto;
    }
    section h2 {
      text-align: center;
      margin-bottom: 40px;
      font-size: 2rem;
      color: #000000;
    }

    .about {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 30px;
      align-items: center;
    }
    .about img {
      width: 100%;
      border-radius: 15px;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
    }
    .skill {
      background: #fff;
      padding: 25px;
      border-radius: 15px;
      text-align: center;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }
    .skill:hover{
      background-color: #0508d0;
      color: #f4f6f8;
    }

    .projects {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 25px;
    }
    .project {
      background: #fff;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }
    .project:hover{
      box-shadow: 0 8px 16px  #0508d0;
    }
    .project img {
      width: 100%;
      height: 180px;
      object-fit: cover;
    }
    .project div {
      padding: 20px;
    }

h4{
    font-size: x-large;
}
.contact-icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.icon-btn {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 22px;
  color: white;
  transition: transform 0.3s ease, background 0.3s;
}

.icon-btn:hover {
  transform: scale(1.1);
}

.email { color: #ffffff; }
.whatsapp { color: #ffffff; }
.facebook { color: #ffffff; }
.x { color: #ffffff; }


    footer {
      background: #0508d0;
      color: #fff;
      text-align: center;
      padding: 20px;
      margin-top: 40px;
    }

    .order-form {
      max-width: 500px;
      margin: auto;
      background: #fff;
      padding: 30px;
      border-radius: 15px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      margin-top: 27px;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .order-form input,
    .order-form textarea {
      width: 100%;
      padding: 12px;
      border-radius: 10px;
      border: 1px solid #ccc;
      font-family: inherit;
    }

    .order-form textarea {
      resize: none;
      height: 100px;
    }

    .order-form button {
      width: 100%;
      padding: 12px;
      background:  #0508d0;
      color: #ffffff;
      border: none;
      border-radius: 15px;
      font-size: 1rem;
      font-weight: 600;
      cursor: pointer;
      transition: 0.3s;
    }

    .order-form button:hover {
      background: #0508d0;
      color: white;
      transform: scale(0.8);
      border-radius: 25px;
    }

    .Reports{
      margin-top: 2rem;
      width: 100%;
    }
    .report-slide{
      min-width: 375px;
    }
    .report-card{
      padding: 5px;
      background-color: #0508d0;
      border-radius: 8px;
      transition: 0.7s;
    }
    .report-card:hover{
      background-color: #0508d0;
      transform: scale(1.03);
      box-shadow: 0 8px 16px #203a43;
    }
    .report-content{
      padding: 1rem;
      background-color: #f4f6f8;
      border-radius: 5px;
    }
    .report-rating{
      margin-bottom: 1rem;
      color: #000000;
    }
    .report-details{
      padding: 1rem;
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    .report-details img{
      max-width: 50px;
      border-radius: 100%;
    }
    .report-card h4{
      font-size: 1.1rem;
      font-weight: 700;
      color: #000000;
    }
    .report-card:hover h4{
      color: #ffffff;
    }

    .goods{
      width: 250px;
      height: 150px;
      color: #ccc;
      background-color: #0508d0;
      text-align: center;
      border-radius: 10px;
      transition: 0.4s;
    }
    .top{
      display: flex;
      justify-content: space-evenly;
    }
    .goods h2{
      font-size: 50px;
    }
    .goods p{
      color: #000;
      font-weight: 700;
    }
    .goods:hover{
      background-color: white;
      color: #0508d0;
      transform: scale(1.07);
    }